*:focus {
    outline: none;
}

.customInput {
    height: 25px;
    background-color: rgb(66, 69, 73);
    text-shadow: black 1px 1px 1px;
    color: whitesmoke;
    font-size: larger;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: Roboto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(30, 33, 36);
}

.customInput:active, .customInput:focus {
    border-color: #00C781;
    border-width: 3px;
}